.skils-list__icon-field {
    margin-bottom: 30px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
}
.skils-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    text-align: center;
}
.skils-list__text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.skils-list__item {
    @media screen and (max-width: 1199px){
    &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 30px)/2);
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
        &:nth-last-child(-n+2) {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px)/4);
        &:not(:last-child) {
             margin-right: 30px;
            }
    }
}
@media screen and (min-width: 768px) {
    .skils-list {
    display: flex;
    flex-wrap: wrap;
    }
}