.section--other-background-color{
    background-color: var(--secondary-background-color);
}

.team-list__item {
    background: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {  
        flex-basis: calc((100% - 30px) /2);
        margin-bottom: 30px;
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
        &:nth-child(n+3) {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) /4);
        &:not(:last-child) {
            margin-right: 30px; 
        }
    }
}
.team-list__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
.team-list__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}
.team-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}
.team-list__box {
    padding-top: 30px;
    padding-bottom: 24px;
    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
    }
}