.header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--primary-background-color);
    border-bottom: 1px solid #ececec;
    @media screen and (min-width: 768px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
.header__logo {
    color: var(--primary-text-color);
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: none;
    margin-right: auto;
    @media screen and (min-width: 768px) {
            display: block;
    }
    @media screen and (max-width: 1199px){
        margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
    
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__link {
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.nav__item {
    display: flex;

    &:not(:last-child) {
        margin-right: 50px;
    }
}
.header__button {
    border: none;
    background-color: transparent;
    padding: 12px 8px;
    line-height: 0;
    &:hover,
    &:focus {
       fill: var(--accent-color);
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.contacts-list {
    display: none;
    margin-left: auto;
    @media screen and (min-width: 768px) {
    display: block;
    }
}
.contacts-list__link {
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.14;
    }
}
.contacts-list__icon {
    margin-right: 8px;
    fill: rgba(117, 117, 117, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contacts-list__link:hover &,
    .contacts-list__link:focus & {
        fill: var(--accent-color);
    }
    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}
@media screen and (min-width: 1200px) {
    .contacts-list {
        display: flex;
        margin-left: auto;
        align-items: center;
    }
    
    .contacts-list__item {
        &:not(:last-child) {
            margin-right: 50px;
            }
    }
}
